In [13]:
import pandas as pd
import numpy as np

In [14]:
df= pd.read_csv(r'C:\Users\SATORE ROHIT BALAJI\Documents\Machine Learning\password.csv')

In [15]:
df.head()

   password  length  num_char  num_digit  num_upper  num_lower
0    123456       6         0          6          0          0
1      pass       4         4          0          0          4
2  password       8         8          0          0          8
3    456789       6         0          6          0          0
4   problem       7         7          0          0          7

In [16]:
df.shape

(79, 6)

In [17]:
df.columns

Index(['password', 'length', 'num_char', 'num_digit', 'num_upper',
       'num_lower'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   password   79 non-null     object
 1   length     79 non-null     int64
 2   num_char   79 non-null     int64
 3   num_digit  79 non-null     int64
 4   num_upper  79 non-null     int64
 5   num_lower  79 non-null     int64
dtypes: int64(5), object(1)
memory usage: 3.8+ KB

In [19]:
df.describe()

          length   num_char  num_digit  num_upper  num_lower
count  79.000000  79.000000  79.000000       79.0  79.000000
mean    5.341772   3.050633   2.291139        0.0   3.050633
std     2.212355   3.403990   2.732295        0.0   3.403990
min     0.000000   0.000000   0.000000        0.0   0.000000
25%     4.000000   0.000000   0.000000        0.0   0.000000
50%     6.000000   0.000000   0.000000        0.0   0.000000
75%     7.000000   7.000000   6.000000        0.0   7.000000
max     9.000000   9.000000   9.000000        0.0   9.000000

In [20]:
df.describe(include='object')

       password
count        79
unique       68
top      123456
freq          5

In [21]:
df['num_digit'].value_counts()

0    41
6    19
3    11
1     3
5     2
4     1
8     1
9     1
Name: num_digit, dtype: int64

In [22]:
df['num_char'].value_counts(normalize='True')

0    0.506329
8    0.164557
4    0.151899
7    0.088608
6    0.025316
9    0.025316
2    0.012658
3    0.012658
5    0.012658
Name: num_char, dtype: float64